@model IEnumerable<FurnitureHouse.Models.FurnitureSubCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">View All Furniture Sub Category Details</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Add New Furniture Sub Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureSubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureSubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureCategory.FurnitureCategoryName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.FurnitureSubCategoryID">Edit</a> |
                
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FurnitureSubCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
